<div class="container">
  <form>
    <div class="mb-3">
      <h1>Sign in</h1>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" aria-describedby="email" placeholder="name@example.com">
      <div id="emailHelp" class="form-text">Your email will <b>never</b> be shared with anyone</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Must be 8-20 characters long.">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" name="check">
      <label class="form-check-label" for="check">Remember me next time</label>
    </div>
    <p class="form-text">First time here?<a routerLink="/signup"> Create an account</a></p>
    <button type="submit" class="btn btn-dark submit-button">Sign in</button>
  </form>
</div>
