<div class="container px-4">
  <div class="row gx-5 container-2">
    <div class="col">
      <div class="p-3">
        <h1 class="main-title">Stay organized, stay ahead.</h1>
        <p class="description">Discover remindMe, the application allowing you to track your spending as a student, note your thoughts, list your to-do's and calculate your grades. All in one place!</p>
        <div class="buttons">
          <button type="button" class="btn btn-primary">Sign in</button>
          <button type="button" class="btn btn-secondary">About this app</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <img src="../../assets/landing-image.png" alt="landing page image">
      </div>
    </div>
  </div>
</div>
