<main>
  <h1 class="visually-hidden">Sections explained</h1>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">About remindME </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">remindMe is your all-in-one student companion, designed to simplify your life by helping you manage your budget, organize your thoughts, track your tasks, and calculate your grades with ease. Stay on top of everything, all in one place! Let's have a closer look on each function.</p>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Budget Tracker </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Take control of your finances by tracking your daily spending, budgeting efficiently, and ensuring you stay within your limits.</p>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Notes Taker </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Keep all your thoughts, lecture notes, and ideas organized in one convenient space, ready to access anytime.</p>
    </div>
  </div>


  <div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">To-Do List </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Boost your productivity with an intuitive task manager that helps you prioritize and meet deadlines effortlessly.</p>
    </div>
  </div>


  <div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Grade Calculator </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Stay on top of your academics by calculating your grades and tracking your progress with ease and accuracy.</p>
    </div>
  </div>


</main>
