<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="mainpage">remind<b>ME</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="mainpage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signin">Sign in</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More links
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">My portfolio</a></li>
            <li><a class="dropdown-item" href="#">About application developer</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Contact application developer</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">by Salhi Rayen</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control" list="navigationList" placeholder="Type to search...">
        <datalist id="navigationList">
          <option value="Home page">
          <option value="About this application">
          <option value="Sign in">
          <option value="Create an account">
          <option value="About the developer">
        </datalist>
        <button class="btn btn-outline-warning ms-2" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
